<!DOCTYPE html>
<html>

<head>
  <!-- [page style] -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/f/css/common.css">
  <!-- [oauth util] -->
  <script src="/f/js/oauth.js"></script>
</head>

<body class="login-bg">

<header>

<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Jivik's Site on Cloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/jsdoc">JSDoc</a></li>
                <li><a href="/apidoc">REST API</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

</header>


<div class="container page-layout">
	<div class="row login-block">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 card-like">
			<h3>Home</h3>
			<form action="/signin" method="GET">
				<input type="submit" class="btn-round btn-login" value="Sign In" />
			</form>
			<div class="gap"></div>
			<div class="gap"></div>
			<form action="/signup" method="GET">
				<input type="submit" class="btn-round btn-register" value="Sign Up" />
			</form>
			<div class="gap"></div>
		</div>
	</div>
</div>

<div style="display: none">
	<div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
</div>

</body>

<html>
