<!DOCTYPE html>
<html>

<head>
  <!-- [page style] -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/f/css/common.css">
  <!-- [oauth util] -->
  <script src="/f/js/oauth.js"></script>
</head>

<body class="login-bg">
<header>

<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Jivik's Site on Cloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

</header>


<div class="container page-layout">
	<div class="row login-block">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 card-like">
			<form action="/signup/password" method="POST" onsubmit="return checkSignUp()">
				<h3>Sign Up</h3>
				<div class="login-item">
					<h4>E-mail</h4>
					<input name="emailAddr" id="emailAddr" type="text" />
				</div>
				<div class="login-item">
					<h4>Password</h4>
					<input name="password" id="password" type="password" />
				</div>
				<div class="login-item">
					<h4>Confirm Password</h4>
					<input id="passwordConfirm" type="password" />
				</div>
				<div class="login-item login-error alert alert-danger box-hidden">
				</div>
				<script>
					fillEmail();
				</script>
<% if(locals.errorMessage) { %>
				<script>
					var message = "<%= errorMessage %>";
					displayError(message);
				</script>
<% } %>
				<input type="submit" class="btn-round btn-spaced btn-register" value="Sign Up" />
			</form>
			<div>
				<div class="gap"></div>
				<div class="gap"></div>
				Or Sign up with:
				<div class="icon-list">
					<script>
						const oauthPreset = OAuthSuite.makeOauthPreset();
					</script>
					<a class="icon-link" href="/signin/google">
						<img class="icon-sm" src="/f/img/oauth_google.png" />
					</a>
					<a class="icon-link" href="/signin/facebook">
						<img class="icon-sm" src="/f/img/oauth_facebook.png" />
					</a>
				</div>
				<div class="gap"></div>
				<div class="gap"></div>
				<div class="gap"></div>
				<p class="text-center">
					Already hava an account? <a href="/signin">Sign in here.</a>
				</p>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>

<div style="display: none">
	<div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
</div>

</body>

<html>
